<!-- 

   <div class="sidebar">
    <ul>
      <li routerLink="/dashboard" routerLinkActive="active">
        <i class="fas fa-home"></i>
        <span>Dashboard</span>
      </li>
      <li routerLink="/employee" routerLinkActive="active">
        <i class="fas fa-users"></i>
        <span>Employees</span>
      </li>
      <li routerLink="/inventory" routerLinkActive="active">
        <i class="fas fa-boxes"></i>
        <span>Inventory</span>
      </li>
      <li routerLink="/customers" routerLinkActive="active">
        <i class="fas fa-user-friends"></i>
        <span>Customers</span>
      </li>
      <li routerLink="/orders" routerLinkActive="active">
        <i class="fas fa-shopping-cart"></i>
        <span>Orders</span>
      </li>
    </ul>
  </div>
   -->

   <div class="sidebar">
    <ul>
      <li routerLink="/dashboard" routerLinkActive="active">
        <i class="fas fa-home"></i>
        <span>Dashboard</span>
      </li>
      <li routerLink="/employee" routerLinkActive="active">
        <i class="fas fa-users"></i>
        <span>Employees</span>
      </li>
      <li routerLink="/inventory" routerLinkActive="active">
        <i class="fas fa-boxes"></i>
        <span>Inventory</span>
      </li>
      <li routerLink="/customers" routerLinkActive="active">
        <i class="fas fa-user-friends"></i>
        <span>Customers</span>
      </li>
      <li routerLink="/orders" routerLinkActive="active">
        <i class="fas fa-shopping-cart"></i>
        <span>Orders</span>
      </li>
    </ul>
  </div>
  