.popup-modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(8px);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  padding: 2rem;
}



.popup-overlay {

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    // background: rgba(0, 0, 0, 0.5);
  }
  
  .popup-container {

    background: white;
    position: relative;
    border-radius: 16px;
    width: 100%;
    max-width: 500px;
    max-height: 100vh;
    display: flex;
    flex-direction: column;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.25);
    overflow: hidden;
    padding: 10px 20px 10px 20px;
  }
  
  @keyframes popup-slide {
    from {
      transform: scale(0.9);
      opacity: 0;
    }
    to {
      transform: scale(1);
      opacity: 1;
    }
  }
  
  .popup-title {
    margin-bottom: 10px;
    font-size: 24px;
    font-weight: 700;
    color: #4f46e5; // soft purple
    text-align: center;
  }
  
  .popup-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  .form-field {
    display: flex;
    flex-direction: column;
  
    label {
      margin-bottom: 6px;
      font-size: 14px;
      font-weight: 600;
      color: #555;
    }
  
    input, textarea {
      padding: 10px 12px;
      border: 1px solid #d1d5db;
      border-radius: 10px;
      font-size: 14px;
      transition: all 0.3s ease;
      outline: none;
  
      &:focus {
    
        box-shadow: 0 0 5px #6c63ff;
        box-shadow: 0 0 0 3px rgba(79, 70, 229, 0.2);
      }
    }
  }
  
  .popup-buttons {
    display: flex;
    justify-content: space-between;
    // margin-top: 10px;
  
    .btn-save {
      background-color: #4f46e5;
      color: #fff;
      padding: 10px 20px;
      border-radius: 12px;
      font-weight: 600;
      border: none;
      cursor: pointer;
      transition: background 0.3s ease;
  
      &:hover {
        background-color: #4338ca;
      }
    }
  
    .btn-cancel {
      background-color: #e5e7eb;
      color: #374151;
      padding: 10px 20px;
      border-radius: 12px;
      font-weight: 600;
      border: none;
      cursor: pointer;
      transition: background 0.3s ease;
  
      &:hover {
        background-color: #d1d5db;
      }
    }
  }
  
  .error{
    color : #e74c3c;
    font-size: 14px;
    // margin-top: 5px;
    // margin-left: 2px;
  }